section.album_list {
	position: fixed;
	bottom: 8px;
	left: 0;
	width: 100%;
	background-color: $black;
	transition: all .3s ease-out;
	h1 {
		position: absolute;
		top: -20px;
		left: 0px;
		padding: 4px 15px 10px 15px;
		border-radius: 0 10px 0 0;
		background-color: $dark;
		font-size: .7rem;
	}
	div.handle {
		width: 100%;
		text-align: center;
		background-color: $dark;
		height: 16px;
		line-height: 0;
		position: relative;
		p {
			transition: all .2s ease-out;
		}
	}
	div.album_list_wrapper {
		width: 100%;
		position: relative;
		ul.album_list {
			li {
			}
		}
	}
}







section.album_list.album_list_style_list {
	height: calc(100vh - 100px);
	&.closed {
		bottom: calc(-100vh + 115px);
		div.handle {
			p {
				transform: rotateZ(180deg);
			}
		}
	}
	div.album_list_wrapper {
		height: 100%;
		overflow-y: auto;
		padding: 15px;
		ul.album_list {
			li {
				width: 100%;
				background-size: contain;
				bockground-position: left;
				background-repeat: no-repeat;
				margin-bottom: 15px;
				div.album_list_thumbnail {
					width: 100px;
					height: 80px;
					display: inline-block;
					background-size: cover;
					background-position: center;
					margin-right: 15px;
					vertical-align: top;
				}
				div.album_list_info {
					display: inline-block;
					p {
						line-height: 1rem;
						font-size: 1rem;
						margin: 0;
						margin-bottom: 10px;
					}
					h2 {
						line-height: 1.2rem;
						font-size: 1.2rem;
						margin: 0;
						margin-bottom: 10px;
					}
				}
				&:hover {
					cursor: pointer;
					opacity: .8;
				}
				&.add {
					width: 100%;
					border: 1px solid $bordercolor;
					border-radius: 5px;
					text-align: center;
				}
			}
		}
	}
}







section.album_list.album_list_style_thumbnail {
	height: 101px;
	&.closed {
		bottom: -86px;
		div.handle {
			p {
				transform: rotateZ(180deg);
			}
		}
	}
	div.album_list_wrapper {
		height: 93px;
		overflow-x: scroll;
		&::-webkit-scrollbar {
			height: 8px;
		}
		&::-webkit-scrollbar-track {
			background-color: $dark;
		}
		&::-webkit-scrollbar-thumb {
			background-color: $light;
			border-radius: 5px;
			&:hover {
				background-color: $keycolor;
			}
		}
		ul.album_list {
			margin: 15px;
			padding: 0 15px 0 0;
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			gap: 0 10px;
			line-height: 0;
			li {
				display: block;
				width: 60px;
				height: 60px;
				line-height: 0;
				margin: 0;
				border: 1px solid $bordercolor;
				cursor: pointer;
				color: $bordercolor;
				transition: all .1s ease-out;
				&:hover {
					border: 6px solid $keycolor;
					color: $keycolor;
				}
				div.album_list_thumbnail {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: center;
				}
				&.add {
					form {
						display: block;
						cursor: pointer;
						width: 100%;
						height: 100%;
						label {
							cursor: pointer;
							width: 100%;
							height: 100%;
							margin: 0;
							display: flex;
							justify-content: center;
							align-items: center;
							input {
								display: none;
							}
							svg {
								width: 20px;
								height: 20px;
							}
						}
					}
				}
			}
		}
	}
}
