section.config {
	background-color: $dark;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	height: auto;
	padding: calc(2rem + 15px) 0 100px 0;
	overflow: auto;
	&.show {
		display :block;
	}
	article {
		margin-bottom: 30px;
		h1 {
			&:before {
				content: "|| ";
			}
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
	article.config_tags {
		ul.config_tags {
			li {
				font-size: 1rem;
				position: relative;
				&.tag {
					display: none;
					&[data-status="1"] {
						display: block;
					}
				}
				&.add_tag_btn {
					margin-top: 15px;
				}
				p {
					width: calc(100% - 30px);
					margin-bottom: 0;
					span.tid {
						display: inline-block;
						width: 15px;
						margin: 0 15px 0 0;
					}
					input{
						vertical-align: baseline;
						width: calc(100% - 30px);
						padding: 5px;
						border: 1px solid $bordercolor;
						border-radius: 6px;
						&:focus,&:hover {
							border: 1px solid $bordercolor;
						}
					}
				}
				div.btns {
					position: absolute;
					padding: 5px 0 0 0;
					top: 0;
					right: 0;
					div.config_tag_delete {
						display: inline-block;
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}
	article.config_custom_field {
		ul.config_custom_fields {
			li.config_custom_field {
				position: relative;
				input {
					width: calc(100% - 160px);
					border: 1px solid $bordercolor;
					padding: 5px;
					border-radius: 6px;
				}
				select {
					width: 120px;
					margin-left: 10px;
					-moz-appearance: menulist-button;
					-webkit-appearance: menulist-button;
					appearance: menulist-button;
					border: 1px solid $bordercolor;
					padding: 5px;
				}
				div.btns {
					position: absolute;
					padding: 5px 0 0 0;
					top: 0;
					right: 0;
					div.config_custom_field_delete_btn {
						display: inline-block;
						width: 16px;
						height: 16px;
					}
				}
			}
		}
	}
	
	input.btn_save {
		width: 100%;
		text-align: center;
		padding: 5px 0;
		border: 1px solid $bordercolor;
		border-radius: 6px;
	}
}
