section.editor {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	background-color: $dark;
	transition: all .2s ease-out;
	@include lg {
		width: 20%;
	}
	div.editor_inner {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 2.2rem 15px 0 30px;
		font-size: .8rem;
		article {
			padding-bottom: 10px;
			border-bottom: 1px dotted $bordercolor;
			margin-bottom: 10px;
			position: relative;
			h1 {
				margin-bottom: 10px;
			}
			&.album_infomation {
				li {
					font-size: .6rem;
					line-height: 1rem;
					div.infomation_cover {
						width: 100%;
						padding-top: 70px;
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
			&.editor {
				.editor_btn {
					display: none;
					&.show {
						display: block;
					}
				}
			}
			&.tags, &.album_tags {
				div.tags_inner {
					position: relative;
					width: 100%;
					height: 100%;
					div.btn_add_tag {
						position: absolute;
						top: 0;
						right: 0;
					}
					p.input_tag {
						display: none;
						&.show {
							display: block;
						}
						input[type="text"] {
							border: 1px solid $bordercolor;
							border-radius: 6px;
							padding: 2px 6px;
							font-size: .8rem;
							width: calc(100% - 55px);
							margin: 0 10px 0 0;
						}
						input[type="button"] {
							padding: 0 6px;
							width: 35px;
						}
					}
					ul.tags {
						width: 100%;
						display: none;
						margin-bottom: 0;
						&.show {
							display: block;
						}
						li {
							width: 100%;
							display: block;
							position: relative;
							label {
								width: calc(100% - 25px);
								cursor: pointer;
								font-size: .7rem;
								margin-bottom: 1px;
								input[type="checkbox"] {
									margin: -2px 5px 0 0;
								}
								&:hover {
									opacity: .7;
								}
							}
							span.delete {
								position: absolute;
								top: 0;
								right: 0;
								width: 15px;
							}
						}
					}
				}
				div.tags_label_toggle {
					width: 15px;
					height: 15px;
					position: absolute;
					top: -1px;
					right: 20px;
				}
			}
		}
		div.handle {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 15px;
			background-color: $dark;
			p {
				line-height: 100vh;
				transition: all .2s ease-out;
				svg {
					transform: rotateZ(-90deg);
				}
			}
		}
		p.editor_btn {
			margin-bottom: 8px;
			width: 100%;
			height: 26px;
			line-height: 24px;
			border: 1px solid $bordercolor;
			border-radius: 13px;
			text-align: center;
		}
	}
	&.closed {
		right: calc(-100% + 15px);
		@include lg {
			right: calc(-20% + 15px);
		}
		div.handle {
			p {
				transform: rotateZ(180deg);
			}
		}
	}
}
