section.image_list {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: calc(2rem + 15px) 15px 180px 15px;
	&.closed {
		width: calc(100% - 15px);
	}
	@include lg {
		width: 80%;
	}
	input[name="album_title"] {
		width: 100%;
		max-width: 500px;
		padding: 10px;
		border: 1px solid $bordercolor;
		border-radius: 10px;
		background-color: $dark;
	}
	ul.image_list {
		width: 100%;
		height: 100%;
		padding: 15px 0;
		display: flex;
		align-content: flex-start;
		flex-wrap: wrap;
		margin: 0;
		li.album_image {
			width: 200px;
			height: 200px;
			position: relative;
			cursor: pointer;
			&.selected {
				div.img {
					border: 4px solid $keycolor;
				}
			}
			div.cover_flag {
				width: 15px;
				height: 15px;
				position: absolute;
				top: 0;
				right: 0;
				border-width: 0 0 1px 1px;
			}
			div.img {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;
				border: 1px solid $bordercolor;
				transition: all .1s ease-out;
				ul.tags_label {
					font-size: 0;
					opacity: 0;
					pointer-events: none;
					transition: all .1s ease-out;
					&.show {
						opacity: 1;
					}
					li {
						display: inline-block;
						font-size: .6rem;
						line-height: .6rem;
						background-color: $dark;
						padding: 4px;
						border-radius: 3px;
						width: auto;
						margin: 1px;
					}
				}
			}
		}
		li.add {
			display: block;
			width: 60px;
			height: 60px;
			line-height: 0;
			margin: 0;
			border: 1px solid $bordercolor;
			cursor: pointer;
			color: $bordercolor;
			background-size: cover;
			background-position: center;
			transition: border .1s ease-out;
			&:hover {
				border: 6px solid $keycolor;
				color: $keycolor;
			}
			form {
				display: block;
				cursor: pointer;
				width: 100%;
				height: 100%;
				label {
					cursor: pointer;
					width: 100%;
					height: 100%;
					margin: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					input {
						display: none;
					}
					svg {
						width: 2rem;
						height: 2rem;
					}
				}
			}
		}
	}
	article.album_text {
		position: relative;
		padding-bottom: 15px;
		h1 {
			margin-bottom: 12px;
		}
		textarea {
			width: 100%;
			height: 30vh;
			resize: vertical;
			padding: 10px;
			border: 1px solid $bordercolor;
			border-radius: 10px;
			background-color: $dark;
			margin-bottom: 15px;
		}
		ul.custom_fields {
			li.custom_field {
				width: 100%;
				margin: 5px 0;
				p {
					display: inline-block;
					width: 100px;
					height: 28px;
					margin: 0;
					padding: 0 0 0 5px;
				}
				input {
					display: inline-block;
					width: calc(100% - 105px);
					border: 1px solid $bordercolor;
					height: 28px;
					padding: 0 5px;
					border-radius: 5px;
					background-color: $dark;
				}
			}
		}
	}
	input.btn_save {
		width: 100%;
		text-align: center;
		padding: 5px 0;
		border: 1px solid $bordercolor;
		border-radius: 6px;
	}
}
