html {
	font-size: 16px;
	line-height: 16px;
	height: 100%;
}
h1 {
	font-size: 16px;
	margin: 0;
}
body {
	background-color: $maincolor;
	background-image: url('../img/bg_noiz.png');
	height: 100%;
	color: $textcolor;
}
.js_btn {
	color: $textcolor;
	cursor: pointer;
	&:hover {
		color: $light;
	}
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 0;
	background-color: $dark;
	div.header_inner {
		position: relative;
		h1 {
			font-size: 1rem;
			color: $textcolor;
		}
		ul.global_menu {
			position: absolute;
			top: 0;
			right: 0;
			font-size: .8rem;
		}
	}
}

main {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	min-height: 100%;
}
div.article_closer {
	position: absolute;
	top: 2px;
	right: 0;
	width: 1rem;
	height: 1rem;
	line-height: 0;
	border: $bordercolor solid 1px;
	border-radius: 4px;
}
article.closed {
	overflow: hidden;
	height: 30px;
}




#nowloading {
	display: none;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 100%;
	backdrop-filter: blur(6px);
	&.show {
		display: flex;
		pointer-events: auto;
	}
}
#howtouse {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	&.show {
		display: block;
	}
	div.htu_container {		
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		div#htu_0 {
			position: absolute;
			bottom: 80px;
			left: 30px;
		}
	}
}

::-webkit-calendar-picker-indicator {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="15" viewBox="0 0 24 24"><path fill="%23bbbbbb" d="M20 3h-1V1h-2v2H7V1H5v2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 18H4V8h16v13z"/></svg>');
}

.input-range[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	height: 5px;
	width: 100%;
	border-radius: 6px;

	&:focus,	&:active {
		outline: none;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		cursor: pointer;
		position: relative;
		margin-top: 2px;
		border: 2px solid rgba(0, 0, 0, .7);
		width: 16px;
		height: 16px;
		display: block;
		background-color: #fff;
		border-radius: 50%;
		-webkit-border-radius: 50%;
	}

	&:active::-webkit-slider-thumb {
		box-shadow: 0 0 0 4px rgba(255, 255, 255, .6);
		transition: .4s;
	}
}