/* ------------------------- z-index ------------------------- */
header {
	z-index: 1;
}
main {
	z-index: 0;
	section.editor {
		z-index: 1;
	}
	section.image_list {
		z-index: 0;
	}
	section.album_list {
		z-index: 2;
		div.handle {
			z-index: 2;
		}
		div.album_list_wrapper {
			z-index: 0;
		}
		div.scroller_btn {
			z-index: 1;
		}
	}
	section.config {
		z-index: 3;
	}
}
#nowloading {
	z-index: 2;
}
#howtouse {
	z-index: 3;
}
footer {
	z-index: 1;
}
/* ------------------------- z-index ------------------------- */