$superlight: #dddddd;
$light:#333;
$maincolor: #090909;
$dark: #030303;
$textcolor: #aaa;
$keycolor: #810f0f;
$bordercolor: #222222;
$black: #000;

@import "media";
@import "uploader";
@import "z-index";
@import "config";
@import "image_list";
@import "editor";
@import "album_list";
